/* Clases reutilizables */

.container-super-fluid {
  width: 100%;
  padding: 0;
}

.bg-yellow {
  background-color: #FFC107;
  color: #FFFFFF;
  padding: 20px;
}

.white-button {
  background-color: #FFFFFF;
  display: inline-block;;
  color: #000000;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
}

/* First section */
.first-section {
  background-image: url('../assets/images/taxi.jpg');
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}

.download {
  display: block;
}

.sign-up {
  display: none;
}

/* Second section */

.second-section {

}

.container-image {
  border: 1px solid #FFFFFF;
}

/* Third section */
.third-section {
  background-image: url('../assets/images/conduce.jpg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (min-width: 768px) {
  .download {
    display: none;
  }

  .sign-up {
    display: block;
  }
}
