* {
  box-sizing: border-box;
}

/* Eliminando el padding de las clases col de Bootstrap */
[class*='col-'] {
  padding: 0;
}

/* Clases reutilizables */
.no-margin {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center; /* space-around */
  /*align-items: flex-end;*/
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-super-fluid {
  width: 100%;
  padding: 0;
}

.bg-yellow {
  background-color: #FFC107;
  color: #FFFFFF;
  padding: 20px;
}

.yellow {
  background-color: #FFC107;
  color: #FFFFFF;
}

.white-button {
  background-color: #FFFFFF;
  display: inline-block;;
  color: #000000;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
}

/* First section */
.first-section {
  background-image: url('../assets/images/taxi.jpg');
  background-size: 100% auto;
  /*background-size: auto 100vh;*/
  background-position: center 90%;
  /*background-position: bottom;*/
  background-repeat: no-repeat;
  height: 100vh;

}


/* Second section */

.second-section {

}

.container-image {
  border: 1px solid #FFFFFF;
}

.container-image figure {
  width: 100%;
}

.container-image figure img {
  width: 100%;
}

/* Third section */
.third-section {
  background-image: url('../assets/images/conduce.jpg');
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.driver {
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  height: 100vh;
}

/* Fourth section*/
.gray {
  background-color: #3F4448;
  color: #FFFFFF;
}

@media (min-width: 768px) {

}
